<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h3><%= name %></h3>

<h3><%= full_name %></h3>

<p>Hi my name is <%= name %>, and I am the master.</p>

</body>
</html>
